* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: monospace;

  color: beige;
  background-color: black;

  padding: 40px 40px;
}

p {
  font-size: 1rem;
}

.h1-1 {
  font-size: 1.5rem;
}
.p-1,
.p-2,
.p-3,
.p-4,
.p-5 {
  margin-top: 1rem;
  max-width: 512px;
}
